@charset "UTF-8";
.height-u-d{
    padding: 100px 0;
}

.logo{
    width: 100px;
    padding: 10px 0px;
}

.icon-social-header{
    width: 25px;
    margin: 10px 5px;
}

.banner-video{
    background-image: url("/images/thumbnail.jpg");
    background-color: gray;
    padding: 500px 0;
    position: relative;
    text-align: center;
}

footer{
    background-color: black;
    padding: 50px 0;
    text-align: left;
}

footer.logo-footer{
    width: 200px;
    margin-bottom: 20px;
}

footer p{
    color: white;
}